@model IEnumerable<OnClickSolution.Models.Products>
@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info mt-5">Inventory</h2>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @String.Format("{0:c}", item.OriginalPrice)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Categories.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Description)
                </td>
               
            </tr>
        }
    </table>
</div>
